/*
header and geneal stuff
*/

:root {
    /* Global colors */
    --home-color: rgb(222, 184, 135);
    --text-color: rgb(0, 0, 0);
    --dark-background-text-color: white;
    --header-text-color: #000000;
    --header-background-color: linear-gradient(180deg, rgba(222, 184, 135, 1) 35%, rgba(40, 40, 40, 0) 100%);
    --background-color: rgb(236, 223, 205);
    --default-font-family: monospace;
    /* Homepage */
    --projects-background-color: #232135;
    --projects-text-color: rgb(0, 0, 0);

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    position: fixed;
    background: var(--header-background-color);
    display: flex;
    height: 15vh;
    width: 100%;
    padding-top: 2rem;
    padding-left: 2rem;
    transition: top 0.2s ease-in-out;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 1;
}

header ul {
    margin-right: 5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 5rem;
}

header a {
    font-size: 2.5rem;
    color: var(--header-text-color);
}

header a:hover {
    color: var(--text-color);
    transform: scale(1.05);
    border-bottom: var(--text-color) solid;
}


/*
body and main
*/

html,
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--default-font-family);
    font-size: 62.5%;
    display: block;
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 5rem;
    text-align: center;
    color: var(--text-color);
    margin-top: 5vh;
    margin-bottom: 5vh;
}

h2 {
    font-size: 3rem;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 2rem;
    color: rgb(128, 128, 128);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

p {
    font-size: 2rem;
    color: var(--text-color)
}

section:not(:last-child) {
    padding-bottom: 7.5vh;
}

section {
    margin: auto;
}

ul {
    list-style: none;
}

li {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 0.5rem;
}

/*
Table
*/
table {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dedede;
    padding: 1rem;
    width: 50%;
}

table th  {
    font-size: 3rem;
    font-weight: 600;
}

table td {
    font-size: 2rem;
    padding: 0.4rem;
}

/*
Footer
*/

footer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    align-items: center;
    height: 5vh;
    background-color: rgb(222, 184, 135);
}


/*
Images
*/

.m-img {
    width: 15vw;
    height: 20vh;
}

.l-img {
    height: 25vw;
    width: 20vw;
    object-fit: cover;
    object-position: center;
}

/* Custom classes */

.intro-default {
    height: 40vh;
    display: flex;
    background: black url("../images/Backgrounds/home-intro.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--dark-background-text-color);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10vh;
}

.intro-default > p {
    width: 100rem;
    text-align: center;
}

.sub-title-text {
    color: var(--text-color);
    font-size: 2.2rem;
}

.hover {
    box-shadow: 0 2rem 4rem 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.hoverE:hover {
    box-shadow: 0 2rem 12rem 0 rgb(192, 137, 65);
}

/** Buttons **/

.sbtn {
    padding: 0.5rem;
    font-size: 2rem;
    border: solid 0.2rem black;
}

.sbtn:hover {
    background-color: rgb(75, 54, 28);
    color: rgb(222, 184, 135);
    border: solid 0.2rem rgb(222, 184, 135);
}

.mbtn {
    padding: 1rem;
    font-size: 3rem;
    border: solid 0.3rem black;
}

.mbtn:hover {
    background-color: black;
    color: rgb(222, 184, 135);
    border: solid 0.3rem rgb(222, 184, 135);
}


/* Cards */

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 3vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 5%;
    padding-bottom: 2rem;
    width: 50rem;
    height: 50rem;
}

.card a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
 

.card > img {
    height: 80%;
    width: 100%;
    padding-bottom: 1rem;
    object-fit: cover;
    object-position: center;
}

/* Vertical Cards*/

.vcards-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.vcard {
    padding-bottom: 3rem;
    padding-top: 1rem;
    border-bottom: solid black;
    width: 100%;
}

.vcard a {
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2rem;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: bolder;
}

.vcard a:hover {
    background: rgb(0, 0, 0);
    color: white;
}