/*
header and geneal stuff
*/

:root {
    /* Global colors */
    --home-color: white;
    --text-color: black;
    --dark-background-text-color: white;
    --header-text-color: #000000;
    --header-background-color: linear-gradient(180deg, rgba(255, 255, 255, 1) 35%, rgba(40, 40, 40, 0) 100%);
    --background-color: white;
    --default-font-family: monospace;

    /* Homepage */
    --projects-background-color: #232135;
    --projects-text-color: black;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    position: fixed;
    background: var(--header-background-color);
    display: flex;
    height: 15vh;
    width: 100vw;
    padding-top: 2rem;
    transition: top 0.2s ease-in-out;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 1;
}

header ul {
    margin-right: 5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 5rem;
}

header a {
    font-size: 2.5rem;
    color: var(--header-text-color);
}

header a:hover {
    color: black;
    transform: scale(1.5);
    border-bottom: black solid;
}


/*
body and main
*/

html,
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--default-font-family);
    font-size: 62.5%;
    width: 100vw;
    display: block;
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 5rem;
    text-align: center;
    color: var(--text-color);
    margin-top: 5vh;
    margin-bottom: 5vh;
}

h2 {
    font-size: 3rem;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 2rem;
    color: rgb(128, 128, 128);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

p {
    font-size: 2rem;
}

section:not(:last-child) {
    width: 100vw;
    padding-bottom: 7.5vh;
}

ul {
    list-style: none;
}

/*
Footer
*/

footer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    align-items: center;
    height: 5vh;
    background-color: #d3d3d3;
}


/*
Images
*/

.m-img {
    width: 15vw;
    height: 20vh;
}

.l-img {
    height: 25vw;
    width: 20vw;
    object-fit: cover;
    object-position: center;
}

/* Custom classes */

.intro-default {
    width: 100vw;
    height: 50vh;
    display: flex;
    background: black url("../images/Backgrounds/home-intro.jpg") no-repeat;
    background-size: cover;
    color: var(--dark-background-text-color);
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10vh;
}

.sub-title-text {
    color: var(--text-color);
    font-size: 2.2rem;
}

.hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.hoverE:hover {
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.5);
}

.btn {
    padding: 1rem;
    font-size: 3rem;
    border: solid 1px black;
}


/* Cards */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 3vh;
    padding-bottom: 10vh;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}
